@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
.vbg{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.hcard{
    border-style: solid;
    border-color: rgb(101, 33, 108);
    background-color: white;
    font-family: 'Bad Script';
    font-size: 30px;
    padding-top: 20px;
    color: rgb(46, 10, 74);
}
.h{
    text-align: center;
}
.butt{
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: rgb(90, 32, 76);
    font-weight: bold;
}